<h1 class="text-center">Pages#about</h1>
<p class="text-center">Find me in app/views/pages/about.html.erb</p>


<div class="container">
<div class="row">

	<div class="col-lg-8 col-lg-offset-2">

<h2>Lorem ipsum</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, excepturi, officiis obcaecati corporis voluptatem ipsum dolor. Dolorum sed, excepturi magni ratione dignissimos quam eveniet quasi iure? Repellendus, vitae nam obcaecati!</p>

<h2>Lorem ipsum</h2>
<p>In, molestiae unde enim delectus aspernatur dolores vel, veritatis! Facere totam placeat ipsum nostrum itaque ab et enim, qui nisi, cupiditate expedita in ipsam veniam porro dignissimos autem aperiam dolorem.</p>

<h2>Lorem ipsum</h2>
<p>Ad vero similique est, repudiandae, quibusdam temporibus modi omnis dolorem nulla veritatis adipisci doloremque maiores quaerat libero accusamus tempora ex nesciunt sapiente. Accusamus voluptate vel provident optio aperiam dolor voluptates!</p>

<h2>Lorem ipsum</h2>
<p>Minima tempore, quam praesentium laboriosam. Ipsa accusantium qui maiores aspernatur distinctio, facere nobis laboriosam ex dignissimos nam, corporis officia repellat similique, in asperiores quo. Quo maxime reprehenderit atque rerum eaque!</p>

</div>



