<h1 class="text-center">Pages#contact</h1>
<p class="text-center">Find me in app/views/pages/contact.html.erb</p>


<div class="container">
	<div class="col-lg-8 col-lg-offset-2">
		<form id="formContacto" action="">
			<div class="input-group">
			<label for="">Nombre</label>
			<input class="form-control" type="text">
			</div>

			<div class="input-group">
			<label for="">Apellido</label>
			<input class="form-control" type="text">
			</div>

			<div class="input-group">
			<label for="">Correo</label>
			<input class="form-control" type="text">
			</div>

			<div class="input-group">
			<label for="">Mensaje</label>
			<textarea class="form-control" rows="4" cols="18">
			</textarea>
			</div>

			<button class="btn btn-success" type="submit">Enviar</button>
		</form>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
		<!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.3936497536633!2d-70.62056808490807!3d-33.439049304313116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf7f0bf2766b%3A0x3b9d62e2ef6661e1!2sJos%C3%A9+Miguel+Claro+1074%2C+Providencia%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1518277636958"></iframe>
		</div>
		</div>
	</div>
</div>

